{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-class-properties"
  ]
}
